* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 850px;
  text-align: left;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
a,
#navigation,
#footer {
  transition: 0.4s;
}

.body-dark {
  --dark-background-color: #202020;
  --dark-text-color: #b3b9c5;
  background-color: var(--dark-background-color);
  color: var(--dark-text-color);
}

.body-dark h3 {
  background-color: var(--dark-background-color);
  color: var(--dark-text-color);
}

.body-dark a {
  color: var(--dark-text-color);
}

.body-dark #navigation {
  background-color: var(--dark-background-color);
}

.body-dark #footer {
  background-color: var(--dark-background-color);
}

.body-light {
  --light-background-color: #f8f9fa;
  --light-text-color: black;
  background-color: var(--light-background-color);
  color: var(--light-text-color);
}

.body-light h3 {
  background-color: var(--light-background-color);
  color: var(--light-text-color);
}

.body-light a {
  color: var(--light-text-color);
}

.body-light #navigation {
  background-color: var(--light-background-color);
}

.body-light #footer {
  background-color: var(--light-background-color);
}

/* navigation - start */

#navigation {
  position: fixed;
  margin: auto;
  width: 100%;
  max-width: 850px;
  padding: 20px;
  top: 0;
  opacity: 0.9;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

#navigation:hover {
  opacity: 1;
}

#brand {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#navbrand {
  text-decoration: none;
}

#name {
  font-size: 23px;
  padding-left: 20px;
  display: inline;
  text-decoration: none;
}

@media only screen and (max-width: 620px) {
  #name {
    display: none;
  }
}

.navItems {
  /*padding-right: 30px;*/
  list-style: none;
}
.navItems a {
  text-decoration: none;
  padding: 5px;
}
.navItems a:hover {
  color: steelblue;
  text-decoration: none;
}

/* dark/light mode button */

#dark-mode-button {
  background-color: transparent;
  border: none;
  outline: 0;
  cursor: pointer;
}

/* navigation - end */

/* navigator start */

#navigator ol {
  padding-left: 40px;
}

#navigator a {
  margin: auto;
  text-decoration: none;
}

#navigator a:hover {
  text-decoration: none;
  color: steelblue;
}

/* navigator end */

#header {
  margin: 70px auto 20px;
}

h2 {
  padding: 10px 20px 0px;
}

.text {
  text-indent: 50px;
  padding: 0 20px;
  line-height: 1.6;
  text-align: justify;
}

h3 {
  margin: auto;
  padding: 10px 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  opacity: 0.9;
  transition: 0.4s;
}

#footer {
  position: fixed;
  /*padding: 10px 0;*/
  z-index: 1;
  opacity: 0.8;
  bottom: 0;
  width: 100%;
  max-width: 850px;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  text-decoration: none;
  margin: 10px 10px;
  cursor: pointer;
}

#footer:hover {
  opacity: 1;
}

.body-dark .icon {
  filter: invert(100%);
}

/* new code add below*/

/* scroll to top button */
#goToTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 50px; /* Place the button at the bottom of the page */
  right: 15px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: steelblue; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 25px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  opacity: 0.7;
}

@media (min-width: 1100px) {
  #goToTopBtn {
    bottom: 50px; /* Place the button at the bottom of the page */
    right: 272.5px;
  }
}

#goToTopBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
/* scroll to top button ends */

/* share button code starts*/

#shareBtn {
  position: fixed;
  top: 85px; /* Place the button at the bottom of the page */
  right: 22.5px; /* Place the button 30px from the right */
  z-index: 99;
  background-color: transparent;
  border: none;
  outline: 0;
}

.body-dark #shareBtn {
  filter: invert(100%);
}

@media (min-width: 1100px) {
  #shareBtn {
    right: 272.5px;
  }
}

#shareBtn:hover {
  cursor: pointer;
}

#sharelinks {
  position: fixed;
  display: none;
  top: 115px; /* Place the button at the bottom of the page */
  right: 22.5px; /* Place the button 30px from the right */
  z-index: 99;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.body-dark #sharelinks {
  filter: invert(100%);
}

.sharelink {
  margin: 5px 0;
}

@media (min-width: 1100px) {
  #sharelinks {
    right: 272.5px;
  }
}

/* share button code ends*/
